/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
/* Navbar */
.header {
  width: 100%;
  background: #264653;
  height: 10vh;
  padding: 3rem 0;
  display: flex;
  align-items: center;
}
nav {
  width: 90%;
  display: flex;
  color: white;
  margin: 0 auto;
}
#logo {
  display: flex;
  flex: 10 1 40rem;
  font-family: "Pattaya", sans-serif;
}
h1 {
  font-size: 3.4rem;
}
.links {
  display: flex;
  flex: 1 1 40rem;
  justify-content: center;
  align-items: center;
}
.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  font-size: 2rem;
  list-style: none;
  margin: 0 1rem;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: white;
}
/* Section */
#home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("./images/landing-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
#home h1 {
  font-size: 5rem;
}
#home h3 {
  font-size: 2.4rem;
  margin: 3rem 0;
  font-weight: 400;
}
button {
  padding: 2rem 10rem;
  background-color: #2a9d8f;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}
/* BENETICS SECTION */
.benetics {
  height: 100vh;
  background: linear-gradient(#ccc, transparent),
    url("./images/new-york-page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.benetics-head {
  width: 90%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.clouds {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.clouds img {
  animation: imageAnimation 3s infinite alternate ease-in-out;
  pointer-events: none;
}
.benetics-head h2 {
  color: black;
  font-size: 4rem;
  text-decoration: underline;
}
@keyframes imageAnimation {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(10%, -20%);
  }
}
.benetics-head h4 {
  /* background-color: rgb(77, 77, 77); */
  font-size: 3rem;
  padding: 1rem 2rem;
  color: rgba(0, 0, 0, 0.4);
}

/* Features */
#feature {
  min-height: 100vh;
  width: 100%;
}
.feature-head {
  min-height: 20vh;
  background-color: #264653;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.feature-head h2 {
  font-size: 4rem;
  margin: 0 0 2rem 0;
}
.feature-head h4 {
  font-size: 2rem;
  font-weight: 200;
}
.cards {
  min-height: 80vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  margin: 0 1rem;
  flex: 1 1 40rem;
  box-shadow: 1rem 2rem 4rem #ccc, 1rem 2rem 4rem #ccc;
  text-align: center;
}
.card-image {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  width: 100%;
  background-color: #264653;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card img {
  max-height: 10vh;
}
.card h4 {
  font-size: 3rem;
  margin: 1rem 0;
}
.card p {
  font-size: 1.4rem;
  padding: 2rem;
}
/* CONTACT */
#contact {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
    url("./images/contact-mountain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  min-width: 40vw;
  min-height: 50vh;
  color: white;
  border-radius: 2rem;
  background-color: rgba(38, 70, 83, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.contact-title {
  font-size: 4rem;
  position: absolute;
  top: 2rem;
}
.name,
.email {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  flex-wrap: wrap;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name label,
.email label {
  margin-right: 1rem;
  font-size: 2rem;
  flex: 1 1 10rem;
}
.name input,
.email input {
  flex: 5 1 10rem;
  font-size: 2rem;
  vertical-align: middle;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.2rem solid #2a9d8f;
  color: white;
}
.name input::placeholder,
.email input::placeholder {
  font-size: 1.3rem;
  color: #ccc;
}
.button {
  position: absolute;
  bottom: 5rem;
}
@media only screen and (max-width: 888px) {
  html {
    font-size: 40%;
  }
  nav {
    flex-wrap: wrap;
  }
  #logo {
    justify-content: center;
    margin: 0 0 2rem 0;
  }
  .links {
    flex: 1 1 100rem;
  }
  .benetics-head {
    position: absolute;
    z-index: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
  }
  .benetics-head h2,
  h4 {
    padding: 1rem 2rem;
  }
  .features {
    text-align: center;
  }
  .feature-head h2 {
    font-size: 3.8rem;
  }
  .cards {
    margin: 2rem auto;
  }
  .card {
    margin: 1rem 0;
  }
  .name label, .email label{
    flex: 1 1 10rem;
  }
  .name input, .email input{
    flex: 1 1 10rem;
  }
}
