/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* Navbar */
header {
  width: 100%;
  background: #264653;
  height: 10vh;
  padding: 3rem 0;
  display: flex;
  align-items: center;
}
nav {
  width: 90%;
  display: flex;
  color: white;
  margin: 0 auto;
  flex-wrap: wrap;
}
#logo {
  display: flex;
  flex: 10 1 40rem;
}
h1 {
  font-size: 3.4rem;
}
.links {
  display: flex;
  flex: 1 1 40rem;
  justify-content: center;
  align-items: center;
}
.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  font-size: 2.4rem;
  list-style: none;
  margin: 0 1rem;
}
a {
  text-decoration: none;
  color: white;
}
/* Section */
section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("./images/landing-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
section h1 {
  font-size: 5rem;
}
section h3 {
  font-size: 3rem;
  margin: 3rem 0;
}
button {
  padding: 2rem 10rem;
  background-color: #2a9d8f;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}
